
<nav>
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="">Таблица просмотра закупок по инн</a></li>
            <li><a href="/users/logout">Выйти</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s6 push-s6">
        <h3 style="text-align: center;">Функции:</h3>
        <div><a href="" class="btn" style="display: block; margin-top: 40px; margin-bottom: 40px;">Посмотреть мою
                текущую статистику</a></div>
        <div><a href="" class="btn" style="display: block; margin-bottom: 40px;">Посмотреть запланированную
                статистику</a></div>
        <div><a href="" class="btn" style="display: block;">Добавить желаемую закупку</a></div>
    </div>
    <div class="col s6 pull-s6">
        <h3 style="text-align: center;">Личный кабинет</h3>
        <h3><span>Name:</span> <span><%= user.name %></span></h3>

    </div>
</div>